* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f8ff;
  background-image: url(wallpaper.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: #1C3144;
  color: #f7f7f7;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.input-group button {
  padding: 8px 12px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

li button {
  background: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
}
